@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-blue: #4F46E5;
  --color-brand-blue-hover: #4338CA;
  --color-brand-green: #10B981;
}

@layer base {
  body {
    @apply bg-[#0A0A0A] text-white font-sans antialiased;
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-8 sm:px-16 lg:px-24 xl:px-32;
  }
}
